
body{
    margin: 0;
}

.number-input-container{
    font-family: 'Kanit', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    /* justify-content: center; */
    margin-top: 0;
    padding: 30px;
    background-image:url("https://media.giphy.com/media/4JVTF9zR9BicshFAb7/giphy.gif");
    background-size: cover;
    /* background-color: rgb(80, 121, 242); */
}

.input-content{
    /* margin-top: 20px; */
    display: block;
    margin-right: 40px;
 
}

#title-head{
    margin-top: 0;
    margin-left: 38px;
    margin-bottom: 30px;
    text-shadow: 8px 5px red;

}

input{
    text-align: center;
    font-size: 20px;
    margin-left: 115px;
    width: 80px;
    height: 60px;
    margin-bottom: 15px;
    border-radius: 5px;

}

button{
    font-weight: bold;
    margin-left: 114px;
    height: 50px;
    width: 90px;
    padding: 30px,40px;
    border-radius: 8px none;

}


.conversion-container{
    display: flex;
    justify-content: center;
}

.conversion-content{
    font-family: 'Raleway', sans-serif;
    color: rgb(85, 115, 233);
    display: block;
    text-align: center;
    /* margin-left: 300px; */
    margin-top: 30px;
}


.length-convert{
    /* display: inline; */
    margin-top: 50px;
    margin-bottom: 30px;
    /* margin-left: 20px; */
}

.volume-convert{
    margin-top: 60px;
    margin-bottom: 10px;

}



.mass-convert{
  
    margin-top: 60px;
    margin-bottom: 50px;

}


.second-conversion-container{
    display: flex;
    justify-content: center;
    margin-left: 45px;
    height: 200px;
    
}

.second-conversion-content{
    display: inline-flex;
    margin-top: 50px;
}

#metric-letter-1{
    display: block;
    margin-top: 9px;
}

#metric-letter-2{
    display: block;
    margin-top: 9px;

}

#metric-letter-3{
    display: block;
    margin-top: 9px;

}

#metric-letter-4{
    display: block;
    margin-top: 9px;
    margin-left: 40px;

}

#metric-letter-5{
    display: block;
    margin-top: 9px;

}

#metric-letter-6{
    display: block;
    margin-top: 9px;

}

.metric-letters{
    margin-left: 2px;
    margin-top: 9px;
    margin-right: 50px;
}

#MLG{
    margin-bottom: 15px;
    
}